// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-wannabe-marker-frame {
  &:not(:hover) {
    z-index: 5;
  }
  &:hover {
    z-index: 6;
  }
}

.atom-wannabe-marker-frame-unconfirm {
  // pointer-events: none;
  opacity: 1.0;
}

.atom-wannabe-marker-frame-div {
  margin-right: 4px;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  border-radius: 5px;
  &:not(:hover) {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 4em;
    white-space: nowrap;
    max-height: 1.4em;
    line-height: 1.4em;
    background-color: #AAA;
  }
  &:hover {
    background-color: #CCC;
    cursor: pointer;
    overflow: auto;
    max-width: 50em;
    white-space: nowrap;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  }
  &:not(:hover) .atom-wannabe-marker-frame-summary {
    display: block;
  }
  &:hover .atom-wannabe-marker-frame-summary {
    display: none;
  }
  &:not(:hover) .atom-wannabe-marker-frame-open {
    display: none;
  }
  &:hover .atom-wannabe-marker-frame-open {
    display: block;
  }
}

.atom-wannabe-marker-frame-summary {
  text-overflow: ellipsis;
  overflow: hidden;
}

.atom-wannabe-marker-frame-open {
  display: flex;
  flex-direction: column;
}

.atom-wannabe-marker-frame-hide {
  visibility: hidden;
}

.atom-wannabe-badge-envelop {
  display: flex;
}

.atom-wannabe-badge-refresh {
  font-size: 180%;
  margin-left: 6px;
  margin-top: -1.6em;
}

.atom-wannabe-marker-test {
  pointer-events: none;
  .atom-wannabe-badge-refresh {
    visibility: hidden;
  }
}

.atom-wannabe-marker-test-unconfirm {
  pointer-events: none;
  opacity: 1.0;
  .atom-wannabe-badge-refresh {
    pointer-events: auto;
    cursor: pointer;
    visibility: visible;
  }
}

.atom-wannabe-marker-test-hide {
  visibility: hidden;
}

.atom-wannabe-badge () {
  border-bottom-style: double;
  font-size: 90%;
  height: 1.5em;
  margin-left: 10px;
  margin-top: -1.6em;
}

.atom-wannabe-badge-passed {
  border-bottom: #1e9400;
  background-color: rgba(30, 148, 0, 0.2);
  .atom-wannabe-badge;
}

.atom-wannabe-badge-failed {
  border-bottom: #af0000;
  background-color: rgba(175, 0, 0, 0.2);
  .atom-wannabe-badge;
}

.atom-wannabe-badge-unknown {
  border-bottom: #5c5c5c;
  background-color: rgba(92, 92, 92, 0.2);
  .atom-wannabe-badge;
}

.atom-wannabe-dump {
  margin-left: 30px;
  margin-top: -1.4em;
  display: flex;
  flex-direction: row;
}

atom-text-editor.editor .atom-wannabe-check {
  position: relative;
  top: 0.2em;
  width: 1em;
  max-height: 1em;
  min-height: 1em;
  border-radius: 2px;
  box-sizing: border-box;
}

atom-text-editor.editor .atom-wannabe-marker-gutter {}

atom-text-editor.editor .atom-wannabe-marker-gutter-unconfirm {
  opacity: 1.0;
}
